@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300;400&family=Poppins:wght@300;400&display=swap');


body {
  font-family: 'Poppins';
}

.main-container {
  padding: 0 1rem;
}

.mountains-container {
  padding-bottom: 2rem;
}

.images-container {
  max-width: 80rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  //border: 2px solid salmon;
  justify-content: center;
  gap: 2rem;
}

.single-img {
  height: 25rem;
  width: 32rem;


}

.single-img img {
  height: 100%;
  max-width: 100%;
}

.btns-container {
  margin: 2rem auto;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.btns-container button {
  border: none;
  background: #303952;
  padding: 1em 2.5em;
  cursor: pointer;
  color: #fff;
  letter-spacing: 2px;
  font-family: inherit;
}
