* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  color: rgb(243, 241, 241);
  display: flex;
}

.main-content {
  max-width: 40rem;
  margin: 6rem auto;
}

.main-title {
  display: flex;
  justify-content: center;
  width: 100%;
  //border: 2px solid yellowgreen;
}

.react-logo, 
.vite-logo {
  height: 8rem;
}

.main-text {
  margin-top: 6rem;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}
